// must be imported before nib
@import '../../vendor/styles/bootstrap/_bootstrap.styl'

// if you have static top navbar the body margin has to be here
//body
//  margin-top: 40px

// if you need responsive design
//@import '../../vendor/styles/bootstrap/_bootstrap.styl'

@import 'nib'

// place your imports and styles here