<h2>Welcome to Ember.js</h2>
<dl>
	<dt>
		Compiled on (git info)
	</dt>
	<dd>
		Commit {{compilation.gitShortCommitHash}}
		of branch {{compilation.gitBranch}}
	</dd>
	<dt>
		Compiled at
	</dt>
	<dd>
		{{compilation.date}}
	</dd>
</dl>